# Variáveis de ambiente
.env
backend/.env
mestre-dos-tragos-web/.env
*.env.local

# Node modules
node_modules/
backend/node_modules/
mestre-dos-tragos-web/node_modules/

# Build
dist/
build/
backend/dist/
mestre-dos-tragos-web/dist/

# Logs
*.log